<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Delete Post</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{obj.Person_name}}"?</p>
        <p><a href="{{request.META.HTTP_REFERER}}"><span class="material-symbols-outlined">
            arrow_back
            </span></a></p>
            
        <input id="bt" type="submit" value="confirm" />
    </form>
</body>
</html>